@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hover-link:hover {
  text-decoration: underline;
}

.hover-button:hover {
  background-color: rgb(35 100 165) !important;
  border: 2px solid #092139;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.songlist-container-grid {
  grid-template-columns: repeat(4, 1fr);
}

@media(max-width: 700px) {
  .songlist-container-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media(max-width: 1225px) {
  .songlist-container-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}